@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Poppins", sans-serif;
}

.scroll-hover {
  overflow-y: scroll; /* Luôn hiển thị thanh cuộn, nhưng sẽ mờ đi */
  scrollbar-width: thin; /* Với Firefox */
  scrollbar-color: transparent transparent; /* Màu thanh cuộn sẽ là trong suốt */
  transition: scrollbar-color 0.3s, opacity 0.3s; /* Thêm hiệu ứng mờ dần */
}

.scroll-hover:hover {
  scrollbar-color: darkgrey #ffffff; /* Màu thanh cuộn sẽ là trong suốt */
  opacity: 1; /* Hiển thị thanh cuộn dọc khi hover */
}

.hidden-scroll::-webkit-scrollbar {
  display: none;  /* Ẩn thanh cuộn */
}